.home-container {
  max-width: 800px;
  margin: 20px auto; /* Adjusted margin for better spacing */
  padding: 20px;
  background-color: white; /* Added white background */
  border-radius: 5px; /* Added border-radius for rounded corners */
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.home-nav {
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.home-nav a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 16px;
}

.home-nav a:hover {
  text-decoration: underline;
}

.home-intro {
  text-align: center;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: green;
}

.home-intro p {
  font-size: 16px;
  line-height: 1.6;
  color: black;
  margin-bottom: 20px;
}

.home-header {
  font-size: 16px;
  margin-top: 20px;
  color: black;
}

