.user-created-block {
  background-color: #d9d9d9;
  border-radius: 38px;
  box-shadow: -5px 5px 4px #00000040;
  /* height: 750px; */
  position: relative;
  width: 650px;
}

.user-created-block .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-weight: 800;
  left: 503px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 595px;
  width: 33px;
}

.user-created-block .text-wrapper-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-weight: 800;
  left: 329px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 527px;
}

.user-created-block .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-weight: 800;
  left: 239px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 527px;
}

/* ... other styles ... */

.user-created-block .overlap-group-wrapper {
  height: 45px;
  left: 175px;
  position: absolute;
  top: 663px;
  width: 300px;
}

.user-created-block .overlap-group {
  border-radius: 15px;
  height: 45px;
  position: relative;
}

.user-created-block .rectangle {
  background-color: #054fb9;
  border-radius: 15px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.user-created-block .text-wrapper-32 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.user-created-block .text-wrapper-33 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-weight: 800;
  left: 577px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 595px;
  width: 37px;
}
